<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <nav>
        <ul>
            <li><p id="username-nav">Currently logged in as <%= username %></p></li>
        </ul>
        <h2 id="website-nav">Password Manager</h2>
        <form action="/logout" method="get">
            <input id="logout-nav" type="submit" value="Logout">
        </form>
    </nav>

    <div id="services">
        <ul>
            <% serviceObj.forEach( (username, servicename) => { %>
                <li>Service: <%= servicename %><br>Username: <%= username %></li>
                <form action="/passwords" method="get">
                    <button name="servicename" value="<%= servicename %>" type="submit">Reveal password</button>
                    <input type="text" name="secretkey" placeholder="Secret Key" minlength="32" maxlength="32" required>
                </form>
                <form action="/passwords" method="post">
                    <button name="servicename" value="<%= servicename %>" type="submit">Delete</button>
                </form> 
            <% }) %>
        </ul>
    </div>



    <div id="genPasswordProfile">
        <form action="/genPasswords" method="post">
            <h3 id="passwordProfile">Create Password Profile</h3>
            <div id="createService">
                <input type="text" placeholder="Service" value="" autocomplete="off" id="newservice" name="newservice" required>
            </div>

            <div id="createUsername">
                <input type="text" placeholder="Username" value="" autocomplete="off" id="newusername" name="newusername" required>
            </div>

            <div id="createPassword">
                <input type="text" placeholder="Password" value="" autocomplete="off" id="newpassword" name="newpassword" required>
            </div>
            
            <div id="createSecretKey">
                <input type="text" placeholder="Secret Key" value="<%= secretkey %>" autocomplete="off" name="secretkey" required minlength="32" maxlength="32">
            </div>

            <input id="createPasswordProfile" type="submit" value="Create">
        </form>
        <form action="/genPasswords" method="get">
            <button id="genSecretKey" type="submit">Generate a secret key</button>
        </form>
        
    </div>
    

</body>    
</html>
